<div class="col">
    <div class="card" style="width: 18rem;">
        <img src={{imagen}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">País: {{Pais}}</h5>
            <p class="card-text"> Continente: {{Continente}}</p>
            <p class="card-text">Capital: {{Capital}}</p>
        </div>
    </div>
</div>